---
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getBlogs, getBlogDetail } from "../library/microcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
	const response = await getBlogs({ fields: ["id"] });

	return response.contents.map((content: any) => ({
		params: {
			slug: content.id,
		},
	}));
}

//記事の詳細情報を取得
const { slug } = Astro.params;
const blog = await getBlogDetail(slug as string);
const ogImage = blog.thumbnail.url ? blog.thumbnail.url : '/default-og-image.png';

import { formatDate } from '../library/Utils'; 
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={blog.title} description={blog.content} image={ogImage}/>
	</head>
	<body class="bg-neutral-200">
		<Header />
		<main class="container px-5 py-4 mx-auto">
			<h1 class="text-2xl font-medium text-white title-font mb-2">{blog.title}</h1>
			<p class="mt-1 text-gray-500 text-sm">公開日時：{formatDate(blog.publishedAt)}</p>
			<div set:html={blog.content}></div>
		</main>
		<Footer />
	</body>
</html>