---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "publishedAt", "thumbnail"] });
---


<!DOCTYPE html>
<html lang="ja" class="flex flex-col min-h-screen bg-gradient-to-br from-[#4CAF50] via-[#8BC34A] to-[#CDDC39] bg-[length:400%_400%] animate-gradient-organic">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<section class="body-font overflow-hidden">
			<div class="container px-10 py-10 mx-auto">
			  <div class="-my-8 divide-gray-800">
                {
                    response.contents.map((content: any) => (
                        <a href={`/${content.id}/`} class="block py-8 flex flex-wrap p-6 bg-neutral-100 rounded-lg hover:bg-neutral-500 transition duration-300 mb-2">
                          <img src={content.thumbnail.url} alt={content.title} class="w-full h-48 object-cover mb-4 rounded-lg" />
                          <div class="md:flex-grow">
                            <h2 class="text-2xl font-medium title-font mb-2">{content.title}</h2>
                            <p class="leading-relaxed text-base text-gray-400 mb-2">{content.publishedAt}</p>
                          </div>
                        </a>
                    ))
                }
			  </div>
			</div>
		  </section>
		</main>
		<Footer />
	</body>
</html>
